<h1>⚡Zap - {{ .Config.Host }}</h1>

<p>Status: <span id="status">{{ .Status }}</span></p>

<pre id="log">{{ if eq .Status "running" }}{{ .Adapter.BootLog }}{{ else }}{{ .LogTail }}{{ end }}</pre>

<script type="text/javascript">
  /** @type{string} **/
  var status = "{{ .Status }}";

  function fetchLog() {
    if (status != "running") {
      setTimeout(function () { get("/zap/log", updateLog); }, 500);
    }
  }

  function updateLog(data) {
    document.getElementById("log").innerHTML = data;
    fetchLog();
  }

  function fetchState() {
    // if (status != "running") {
      setTimeout(function () { get("/zap/state", updateState); }, 2000);
    // }
  }

  function updateState(data) {
    data = JSON.parse(data);
    status = data.status;
    document.getElementById("status").innerHTML = data.status;
    if (status == "running") {
      document.getElementById("log").innerHTML = data.app.Adapter.BootLog;
    }
    fetchState();
  }

  function get(url, callback) {
    var xmlhttp;
    xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function () {
      if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
        callback(xmlhttp.responseText);
      }
    }
    xmlhttp.open("GET", url, true);
    xmlhttp.send();
  }

  fetchState();
  fetchLog();

</script>
