<html>
  <head>
    <title>⚡Zap</title>
    <style>
      body{font:18px/1.4 system-ui,sans-serif;margin:auto;max-width:60em}
      body,pre{padding:1em}
      h1,h2,h3,h4,h5,h6{line-height:normal}
      pre,code{font:.8em Monaco,monospace;overflow-x:auto}

      body{background-color:#132338;color:#bbc9d9}
      h1,h2,h3,h4,h5,h6{color:#fff}
      a{color:#ffc24f}
      pre{background-color:#162840}
    </style>
  </head>
  <body>
    {{ yield }}
  </body>
</html>
